@media (max-width: 575px)
    .invisible
        display: block
        height: 100%
        width: 100%
    header
        display: none
    .about
        display: none
    .trades
        display: none
    .work
        display: none
    .reviews
        display: none
    .main
        display: none
    .footer
        display: none