.about
    min-height: 640px
    padding: 100px 20px 168px
    background-color: #101010
    position: relative
    &__bg
        position: absolute
        left: 25px
        top: 50%
        transform: translateY(-50%)
        max-height: 75%
        &_right
            right: 0
            left: auto
    &__graphic
        width: 256px
        height: 256px
        background: #1D1D1D
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5)
        position: absolute
        right: 0%
        top: 50%
        transform: translateY((calc( -50% + 33px )))
        
        &_image
            max-width: 256px
            max-height: 256px
            position: absolute
            top: -33px
            left: -33px
            transform: rotateY(180deg)
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5)
            
    &__header
        font-weight: 700
        font-size: 28px
        line-height: 34px
        color: #FFFFFF
        margin-bottom: 15px
    &__content
        max-width: 887px
        display: flex
        justify-content: space-between
        margin-top: 34px
        position: relative
        /* align-items: center */
        
    &__text
        font-weight: 400
        font-size: 17px
        line-height: 22px
        color: #FFFFFF
        display: flex
        flex-direction: column
        justify-content: center
        max-width: 514px
        background: linear-gradient(78.47deg, #192964 0%, #0072A2 100%)
        padding: 37px 44px
    &__image
        max-height: 242px
        -webkit-transform: scaleX(-1)
        transform: scaleX(-1)
    &__descr
        margin: 20px 0 0 0