.main
    position: inherit
    min-height: 661px
    background: url('../img/main_bg1536px.jpg') center center/cover no-repeat
    padding: 168px 0 0 0
    margin-top: 60px
    &__wrapper
        display: flex
        justify-content: space-between
        max-width: 615px
        max-height: 232px
        margin: 0 auto
    &__header
        color: #FFFFFF
        font-weight: 700
        font-size: 54px
        line-height: 33px
    &__image
        img
            max-width: 232px
    &__content
        display: flex
        flex-direction: column
        align-items: center
        max-width: 344px
        text-align: center
        .contacts
            
            /* box-sizing: border-box */
            width: 174px
            height: 82px
            margin: 28px 0 0 0
            padding: 10px
            border: 1px solid #FFFFFF
            &__text
                font-weight: 400
                font-size: 16px
                line-height: 20px
                color: white
            &__links
                display: flex
                max-height: 100%
                justify-content: center
                .link
                    /* background-color: white */
                    /* border-radius: 100% */
                    max-width: 37px
                    max-height: 37px
                    margin: 4px 8px 0 8px
                    
                    img
                        width: 100%
                        height: 100%
                    

    &__subheader
        font-weight: 500
        font-size: 16px
        line-height: 20px
        color: #9A9A9A
        margin: 10px 0 0 0
    &__tagline
        margin: 30px 0 0 0
        font-style: italic
        font-weight: 400
        font-size: 18px
        line-height: 22px
        color: white