.main
    position: inherit
    min-height: 731px
    /* background: url('../img/main_bg1536px.jpg') center center/cover no-repeat */
    background: url('../img/main_bg.jpg') center center/cover no-repeat

    /* background: url('../img/main_bg1536px.jpg') */

    &__button
        display: flex
        align-items: center
        justify-content: space-evenly
        background: linear-gradient(78.47deg, #173C51 0%, #0072A2 100%)
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.11)
        border-radius: 43px
        width: 158px
        height: 45px
        border: none
        margin-right: 8px
        color: #FFFFFF
        &:hover
            background: linear-gradient(78.47deg, #132f3f 0%, #00628d 100%)
                   

    .purple
        background: linear-gradient(78.47deg, #34144D 0%, #5700AE 100%)
    .purple:hover
        background: linear-gradient(78.47deg, #2b113f 0%, #4d009a 100%)
    &__wrapper
        display: flex
        justify-content: space-between
        max-width: 742px
        max-height: 275px
        margin: 0 auto
        margin-top: 165px
        text-align: left
    &__header
        color: #FFFFFF
        font-weight: 700
        font-size: 60px
        line-height: 33px
        letter-spacing: 0.05em
    &__image
        &_wrapper
            width: 154px
            height: 100%
            position: relative
        &_icon
           
            position: absolute
            top: 0%
            right: 0%
            max-width: 154px
            max-height: 212px
        svg
            #light
                &:hover
                    fill: #32AFFA
            #normal
                &:hover
                    fill: #2B96D7
            #normal_2  
                &:hover
                    fill: #2B96D7
            #dark   
                &:hover
                    fill: #237BB0  

            #light.active
                fill: #6F00C7
                &:hover
                    fill: #A232FA
            #normal.active
                fill: #5C00A4
                &:hover
                    fill: #7B26BD
            #normal_2.active
                fill: #5C00A4   
                &:hover
                    fill: #7B26BD
            #dark.active
                fill: #46007D    
                &:hover
                    fill: #7223B0    
                 
                
            path
                transition: all 0.5s 
                &:hover
                    fill: #35b2ff
                .active
                    &:hover
                        color: red
            
            
            
            animation: 2s infinite ease-in-out floating
            
        &_shadow
            top: 92%
            left: 50%
            transform: translateX(-50%)
            position: absolute
            width: 85px
            height: 23px
            border-radius: 100%
            background: rgba(0, 0, 0, 0.3)
            animation: 2s infinite ease-in-out shadow

        /* background: url('../img/avatar.jpg') */
    &__content
        display: flex
        flex-direction: column
        align-items: left
        max-width: 344px
        margin-top: 17px
        .contacts
            /* box-sizing: border-box */
            /* width: 174px */
            /* height: 82px */
            margin-top: 32px
            /* padding: 10px */
            &__text

                font-weight: 300
                font-size: 13px
                line-height: 20px
                color: #ffffff
                
            &__links
                max-height: 45px
                margin-top: 18px
                .link
                    /* background-color: white */
                    /* border-radius: 100% */
                    /* max-width: 37px */
                    /* max-height: 37px */
                    /* margin: 4px 8px 0 8px */
                    display: inline-block
                    
                    img
                        width: 31px
                        height: 31px 
                    

    &__subheader
        font-weight: 500
        font-size: 19px
        line-height: 19px
        color: #ffffff
        margin: 28px 0 0 0
    &__tagline
        margin: 30px 0 0 0
        font-style: italic
        font-weight: 400
        font-size: 18px
        line-height: 22px
        color: white