.reviews
    min-height: 640px
    padding: 68px 0
    &__header
        font-weight: 700
        font-size: 28px
        line-height: 34px
        color: #000000
        text-align: center
        margin-bottom: 0
    &__wrapper
        margin: 35px auto 0px
        display: flex
        flex-flow: wrap
        justify-content: center
        .item
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11)
            width: 400px
            height: 132px
            display: flex
            padding: 12px
            margin-right: 25px
            margin-bottom: 20px
            .icon
                max-height: 45px
                margin-right: 12px
            .text
                .name
                    font-weight: 500
                    font-size: 15px
                    line-height: 18px
                    color: #000000

                .descr
                    font-weight: 400
                    font-size: 15px
                    line-height: 18px
                    color: #555555
                    margin-top: 4px
