/* line 1, ../../radoo_bday_website/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 3, ../../radoo_bday_website/src/sass/style.sass */
.peepo {
  min-height: 400px;
  max-width: 100%;
  background: url(/src/img/pp_bg.jpg) center center/cover no-repeat;
}

/* line 7, ../../radoo_bday_website/src/sass/style.sass */
.intro {
  padding: 80px 0;
  min-height: 740px;
  background-color: #dcdcdc;
  text-align: center;
}

/* line 12, ../../radoo_bday_website/src/sass/style.sass */
.title {
  font-family: Roboto;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #5e5e5e;
}

/* line 19, ../../radoo_bday_website/src/sass/style.sass */
.intro .description {
  font-family: Roboto;
  font-size: 25px;
  line-height: 50px;
  font-weight: 300;
  color: #5e5e5e;
  margin-top: 30px;
}

/* line 26, ../../radoo_bday_website/src/sass/style.sass */
.intro .intro_img {
  max-width: 100%;
  margin: 80px auto 0 auto;
}

/* line 29, ../../radoo_bday_website/src/sass/style.sass */
.intro .intro_img img {
  max-width: 100%;
}

/* line 31, ../../radoo_bday_website/src/sass/style.sass */
.outro {
  margin-top: 30px;
  font-family: Roboto;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 300;
  color: #5e5e5e;
}

/* line 38, ../../radoo_bday_website/src/sass/style.sass */
.about {
  min-height: 2350px;
  background: url(/src/img/gradient_bg.jpg) center center/cover no-repeat;
  text-align: center;
  padding: 80px 0 130px 0;
}

/* line 43, ../../radoo_bday_website/src/sass/style.sass */
.about .subtitle {
  font-family: Roboto;
  font-size: 36px;
  line-height: 34px;
  font-weight: 300;
  font-style: italic;
  color: #5e5e5e;
}

/* line 50, ../../radoo_bday_website/src/sass/style.sass */
.about .title {
  margin-top: 150px;
  font-family: Roboto;
  font-size: 40px;
  line-height: 36px;
  font-weight: 900;
  color: #000000;
}

/* line 57, ../../radoo_bday_website/src/sass/style.sass */
.about .image {
  margin: 70px auto 0 auto;
  max-width: 100%;
}

/* line 60, ../../radoo_bday_website/src/sass/style.sass */
.about .image img {
  max-width: 100%;
}

/* line 62, ../../radoo_bday_website/src/sass/style.sass */
.about .image_spy {
  margin: 70px auto 0 auto;
  max-width: 1300px;
}

/* line 65, ../../radoo_bday_website/src/sass/style.sass */
.about .image_spy img {
  max-width: 100%;
}

/* line 67, ../../radoo_bday_website/src/sass/style.sass */
.about .text {
  max-width: 100%;
  margin-top: 80px;
  font-family: Roboto;
  font-size: 35px;
  line-height: 33px;
  font-weight: 400;
  color: #000000;
}

/* line 75, ../../radoo_bday_website/src/sass/style.sass */
.about .text a {
  margin-top: 80px;
  font-family: Roboto;
  font-size: 35px;
  line-height: 33px;
  font-weight: 400;
  color: #000000;
}

/* line 82, ../../radoo_bday_website/src/sass/style.sass */
.last {
  min-height: 900px;
  padding-top: 10px;
  text-align: center;
  background-color: #dcdcdc;
}

/* line 88, ../../radoo_bday_website/src/sass/style.sass */
.last .text {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 400;
  color: #838383;
  margin-top: 60px;
}

/* line 94, ../../radoo_bday_website/src/sass/style.sass */
.last .text.text_italic {
  font-size: 35px;
  line-height: 33px;
  font-weight: 300;
  font-style: italic;
  color: #838383;
}

/* line 100, ../../radoo_bday_website/src/sass/style.sass */
.last .text.text_bold {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 700;
  color: #838383;
}

/* line 105, ../../radoo_bday_website/src/sass/style.sass */
.last .image_peepo {
  margin: 60px auto 0 auto;
}

/*# sourceMappingURL=style.css.map */